.ReportPage {
  .report {
    background-color: lavender;
    padding: 1rem;
    .keyword {
      &.highlight {
        background-color: lightgreen;
      }
      &:hover,
      &.hover {
        background-color: lightsalmon;
      }
    }
  }
}
