.ReportPage {
  .report {
    background-color: lavender;
    padding: 1rem;
    .keyword {
      &:hover {
        background-color: lightgreen;
      }
      &.highlight {
        background-color: lightgreen;
      }
    }
  }
}
